@CHARSET "UTF-8";

.form-friendly .form-control { padding: 10px; font-size: 16px; line-height: 1.5; height: auto; }
.form-friendly label.checkbox { padding-top: 5px; padding-bottom: 5px; }

footer { opacity: 0.5; }